<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zander.mapper.HouseDealMapper">
  <resultMap id="BaseResultMap" type="HouseDeal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="house_record" jdbcType="BIGINT" property="houseRecord" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="ownership" jdbcType="VARCHAR" property="ownership" />
    <result column="last_deal_time" jdbcType="DATE" property="lastDealTime" />
    <result column="use_type" jdbcType="VARCHAR" property="useType" />
    <result column="use_years" jdbcType="VARCHAR" property="useYears" />
    <result column="right_type" jdbcType="VARCHAR" property="rightType" />
    <result column="pledge_info" jdbcType="VARCHAR" property="pledgeInfo" />
    <result column="attachment" jdbcType="VARCHAR" property="attachment" />
  </resultMap>
  <sql id="Base_Column_List">
    id, house_record, create_time, ownership, last_deal_time, use_type, use_years, right_type,
    pledge_info, attachment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from house_deal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from house_deal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="HouseDeal">
    insert into house_deal (id, house_record,create_time, ownership, last_deal_time, use_type, use_years, right_type,
    pledge_info, attachment)
    values (#{id}, #{houseRecord},#{createTime},#{ownership},#{lastDealTime},#{useType},
    #{useYears},#{rightType},#{pledgeInfo},#{attachment})
  </insert>
  <insert id="insertSelective" parameterType="HouseDeal">
    insert into house_deal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="houseRecord != null">
        house_record,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ownership != null">
        ownership,
      </if>
      <if test="lastDealTime != null">
        last_deal_time,
      </if>
      <if test="useType != null">
        use_type,
      </if>
      <if test="useYears != null">
        use_years,
      </if>
      <if test="rightType != null">
        right_type,
      </if>
      <if test="pledgeInfo != null">
        pledge_info,
      </if>
      <if test="attachment != null">
        attachment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="houseRecord != null">
        #{houseRecord,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="ownership != null">
        #{ownership,jdbcType=VARCHAR},
      </if>
      <if test="lastDealTime != null">
        #{lastDealTime,jdbcType=DATE},
      </if>
      <if test="useType != null">
        #{useType,jdbcType=VARCHAR},
      </if>
      <if test="useYears != null">
        #{useYears,jdbcType=VARCHAR},
      </if>
      <if test="rightType != null">
        #{rightType,jdbcType=VARCHAR},
      </if>
      <if test="pledgeInfo != null">
        #{pledgeInfo,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null">
        #{attachment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="HouseDeal">
    update house_deal
    <set>
      <if test="houseRecord != null">
        house_record = #{houseRecord,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="ownership != null">
        ownership = #{ownership,jdbcType=VARCHAR},
      </if>
      <if test="lastDealTime != null">
        last_deal_time = #{lastDealTime,jdbcType=DATE},
      </if>
      <if test="useType != null">
        use_type = #{useType,jdbcType=VARCHAR},
      </if>
      <if test="useYears != null">
        use_years = #{useYears,jdbcType=VARCHAR},
      </if>
      <if test="rightType != null">
        right_type = #{rightType,jdbcType=VARCHAR},
      </if>
      <if test="pledgeInfo != null">
        pledge_info = #{pledgeInfo,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null">
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="HouseDeal">
    update house_deal
    set house_record = #{houseRecord,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=DATE},
      ownership = #{ownership,jdbcType=VARCHAR},
      last_deal_time = #{lastDealTime,jdbcType=DATE},
      use_type = #{useType,jdbcType=VARCHAR},
      use_years = #{useYears,jdbcType=VARCHAR},
      right_type = #{rightType,jdbcType=VARCHAR},
      pledge_info = #{pledgeInfo,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByHouseRecord">
    delete from house_deal where house_record = #{houseRecord}
  </delete>
</mapper>