<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="defaultStatementTimeout" value="25000"/>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <typeAlias type="top.zander.model.HouseKeyInfo" alias="HouseKeyInfo"/>
        <typeAlias type="top.zander.model.HouseBaseInfo" alias="HouseBaseInfo"/>
        <typeAlias type="top.zander.model.HouseDeal" alias="HouseDeal"/>
        <typeAlias type="top.zander.model.HouseFinished" alias="HouseFinished"/>
    </typeAliases>
</configuration>